*{
	margin: 0;
	padding: 0;
}
/*loader start*/
/*loader end*/
body{
	font-family: 'Lato', sans-serif;
}
p,h1,h2,h3,h4,h5,h6,img{
	margin: 0;
	padding: 0;
}
/*header start*/
header{
	background-color: #fff;
} 
.sticky-top{
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
.menu ul li{
    padding: 0 5px;
} 
.menu ul li a{
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: #495367 !important;
	transition-duration: .5s;
}
.menu ul li:last-child a{
	padding-right: 0px !important;
}
.menu ul li a:hover{
	color: #15A4FA !important;
}
/*header end*/
/*banner start*/
.banner{
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    /*display: none;*/
}
.banner_cont{
	text-align: center;
	padding: 200px 0;
}
.banner_cont h1 {
    font-family: 'Lato', sans-serif;
    font-size: 90px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
}
.banner_cont img{
    margin-bottom: 15px;
    padding: 0 50px;
}
.banner_cont p{
    font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #F2F2F3;
	margin-bottom: 40px;
}
.banner_cont button {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background: transparent;
    border: 1px solid #15A4FA;
    padding: 15px 40px;
    transition-duration: .5s;
}
.banner_cont button:hover{
	background: #15A4FA;
	border: 1px solid #15A4FA;
}
/*banner end*/
/*service1 start*/
.service1{
background-color: #F6F9F9;
/*display: none;*/
}
.ser1_cont{
 text-align: center;
 padding: 40px 0;
}
.ser1_cont h1{
	font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: #333366;
    margin-bottom: 12px;
}
.ser1_cont p{
	font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #999999;
}
/*service1 end*/
/*service2 start*/
.service2{
/*display: none;*/
}
.ser2_cont{
text-align: center;
padding: 70px 0;
}
.ser2_cont img{
margin-bottom: 25px;
}
.ser2_cont h1{
	font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #333366;
    margin-bottom: 10px;
}
.ser2_cont p{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #999999;
    padding: 0 20px;
}
/*service2 end*/
/*gallery start*/
.gallery{
background-color: #F6F9F9;
padding-bottom: 70px;
/*display: none;*/
}
.gal_cont{
text-align: center;
padding: 70px 0;
}
.gal_cont h1{
	font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: #333366;
    margin-bottom: 10px;
}
.gal_cont p{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #999999;
}
.gal_img{
	margin-bottom: 25px;
	position: relative;
}
.gly_overlay{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(51,153,255,0.85);
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
	transition-duration: .5s;
}
.gly_overlay a{
	color: #fff;
	padding: 0 10px;

}
.gly_overlay a i {
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.gal_img:hover .gly_overlay{
	transform: scale(1);
}

/*gallery end*/
/*contact start*/
.contact{
    background-image: url(../images/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 70px;
    /*display: none;*/
}
.contact_cont{
text-align: center;
padding: 60px 0;
}
.contact_cont h1{
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 10px;
}
.contact_cont p{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #999999;
}
.contact_form {
    margin: 10px 0;
}
.contact_form input{
    width: 100%;
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid #999999;
    border-radius: 5px;
}
.contact_form1 {
    margin: 10px 0;
}
.contact_form1 textarea{
    width: 100%;
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid #999999;
    border-radius: 5px;
}
#form1{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #999999;
}
.contact_form1 label{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    padding: 0 5px;
}
.contact_form1 input{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    background-color: transparent;
    padding: 8px 40px;
    border: 1px solid #33ccff;
    border-radius: 5px;
    transition-duration: .5s;
}
.contact_form1 input:hover{
    background: #15A4FA;
    border: 1px solid #15A4FA;
}
#form2{
    margin: 0 0 0 60%;
}

/*contact end*/
/*footer start*/
footer{
margin: 15px 0;
/*display: none;*/
}
.fo_left{

}
.fo_left p{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #999999; 
    padding: 10px 0; 
}
.fo_right{
overflow: hidden;
margin: 0 0 0 108px;
}
.fo_right ul{
}
.fo_right ul li{
    float: left;
    list-style: none;
    
}
.fo_right ul li a{
    background-color: #15A4FA;
    color: #fff;
    font-size: 15px;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;

    
}
.fo_right ul li a:hover{

}
/*footer end*/
/*sticky menubar start*/
 
  
/*#navigation {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 111;
    transition: all linear .3s;
}
  
  
.navfixed {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 !important;
    background: green !important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.40);
    transition: all linear 0.5s;
}

.navfixed .nav-item .nav-link {
    font-size: 16px;
    color: #fff !important;
    transition: 0.4s;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
}

#navigation .nav-item {
    padding-left: 15px;
}

#navigation .navbar-brand {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    transition: all linear 0.5s;
}

.navfixed .navbar {
    padding: 0;
    height: 80px;
}

.navfixed .navbar-brand {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff !important;
    transition: all linear 0.5s;
}

#navigation .navbar-light .navbar-nav .active > .nav-link {
    color: #6b2bc3;
}

#navigation .nav-item .nav-link {
    font-size: 16px;
    color: #000;
    transition: 0.4s;
    font-weight: 600;
    text-transform: uppercase;
    padding: 16px 20px;
    display: block;
}

#navigation .navbar-light .navbar-nav .nav-link:focus,
#navigation .navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}

.navfixed .navbar-light .navbar-nav .nav-link:focus,
.navfixed .navbar-light .navbar-nav .nav-link:hover {
    color: #000 !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}*/
/*sticky menubar end*/